
.top_container{
    position: relative;
    display: flex;
    justify-content: space-around;
}

/*GREETINGS*/
.greeting{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-content: center;
    width: 60%;
}
.greeting h1, h2, h3 {
    position: relative;
    font-weight: 900px; 
    background-color: white;
    border: black solid 3px;
    padding: 10px;
    box-shadow: 10px 10px;  
}

.greeting h1{
    width: 70%;
    font-family: "Libre Baskerville", serif;
    font-size: 120px; 
}

.greeting h2{
    width: 95%;
    font-family: "Dancing Script", cursive;
    font-size: 70px;   
}

.greeting h3{
    width: 95%;
    display: flex;
    justify-content: center;
    font-family: "Libre Baskerville", serif;
    font-size: 30px;   
}

img{
    position: relative;
    width: 30%;
    border-radius: 20px;
    border: black solid 10px;
}

.content{
    position: relative;
    width: 90%;
    align-self: center;
    top: 40px; 
}

.content h2{
    position: relative;
    font-size: 40px;
    background-color: white;
    border: black solid 3px;
    box-shadow: 10px 10px;
    padding: 10px;
}

.content p{
    position: relative;
    font-size: 30px;

    background-color: white;
    border: black solid 3px;
    box-shadow: 10px 10px;
    padding: 10px;
}

@media all and (max-width: 1090px){
    .greeting h1{
        width: 400px;
        font-size: 100px; 
    }

    .greeting h2{
        font-size: 45px; 
    }

    img{
        width: 42%;
    }
}

@media all and (max-width: 800px){
    .top_container{
        flex-direction: column;  
        width: 90%;
        align-self: center;
        align-items: center;
    }
    .greeting{
        width: 100%;
        padding: 0px;
        text-align: center;
    }

    .greeting h1{
        width: 100%;
    }

    .greeting h2{
        width: 100%;
        font-size: 40px; 
    }

    .greeting h3{
        width: 100%;
        font-size: 20px; 
    }

    img{
        top: 40px;
        width: 70%;
    }

    .content{
        top:80px;     
    }

    .content h2{
        text-align: center; 
    }
}

@media all and (max-width: 430px){
    .greeting h1{
        font-size: 80px;
    }

    .greeting h2{
        font-size: 30px; 
    }

    .content p{
        font-size: 20px;
    }
}